
.idea/EditIndexHelper.iml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

edit-tool.log

ffprobe/ffprobe.exe

oiio/avcodec-58.dll

oiio/avformat-58.dll

oiio/avutil-56.dll

oiio/boost_filesystem-vc142-mt-x64-1_79.dll

oiio/boost_thread-vc142-mt-x64-1_79.dll

oiio/brotlicommon.dll

oiio/brotlidec.dll

oiio/bz2.dll

oiio/freetype.dll

oiio/gif.dll

oiio/Half-2_5.dll

oiio/harfbuzz.dll

oiio/iconvert.exe

oiio/icudt71.dll

oiio/icuin71.dll

oiio/icuuc71.dll

oiio/idiff.exe

oiio/Iex-2_5.dll

oiio/igrep.exe

oiio/iinfo.exe

oiio/IlmImf-2_5.dll

oiio/IlmThread-2_5.dll

oiio/Imath-2_5.dll

oiio/Imath-3_1.dll

oiio/iv.exe

oiio/jasper.dll

oiio/jpeg62.dll

oiio/lcms2.dll

oiio/libexpat.dll

oiio/liblzma.dll

oiio/libpng16.dll

oiio/maketx.exe

oiio/oiiotool.exe

oiio/OpenColorIO_2_1.dll

oiio/OpenImageIO_Util.dll

oiio/OpenImageIO.dll

oiio/pcre2-16.dll

oiio/plugins/imageformats/qgif.dll

oiio/plugins/imageformats/qico.dll

oiio/plugins/imageformats/qjpeg.dll

oiio/plugins/platforms/qwindows.dll

oiio/plugins/styles/qwindowsvistastyle.dll

oiio/qt.conf

oiio/Qt5Core.dll

oiio/Qt5Gui.dll

oiio/Qt5Widgets.dll

oiio/raw_r.dll

oiio/swresample-3.dll

oiio/swscale-5.dll

oiio/tiff.dll

oiio/vcruntime140_1.dll

oiio/webp.dll

oiio/webpdemux.dll

oiio/yaml-cpp.dll

oiio/zlib1.dll

oiio/zstd.dll
